@{
    ViewData["Title"] = "Tasks Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var content = "#Searchpanel";
}
<div class="control-section">
    <ol class="breadcrumb" style="margin-top: 5px; width: 100%; background-color: aliceblue; color: black; font-family: Cambria; padding: 5px; font: bolder;">
        <li class="breadcrumb-item active" style="margin-top: 5px; width: 100%; background-color: aliceblue; color: black; font-family: Cambria; padding: 5px; font:larger; font-size:large"> <stong>  Manage Tasks </stong></li>
    </ol>
    <div id="aclassDialog2"></div>

    <ejs-accordion id="defaultAccordion">
        <e-accordion-accordionitems>
            <e-accordion-accordionitem expanded="true" cssClass="e-filled" header=" Search Panel (Search using Date Range as based on Due Date)" content=@content></e-accordion-accordionitem>
        </e-accordion-accordionitems>
    </ejs-accordion>

    <div class="card" id="Searchpanel" style="display: none">
        <div class="card-body">
            <div id="Timelines">
                <div class="panel-body">
                    <div class="row material2">
                        <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                            <ejs-datepicker id="StartDate" cssClass="e-outline" format="dd/MM/yyyy" max="DateTime.Now" placeholder="Start Date" floatLabelType="Auto"></ejs-datepicker>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                            <ejs-datepicker id="Enddate" cssClass="e-outline" format="dd/MM/yyyy" max="DateTime.Now" placeholder="End Date" floatLabelType="Auto"></ejs-datepicker>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                            <input type="button" class="btn btn-danger btn-sm" style="margin-top:8px;" value="Search Record" onclick="SearchRecords()" title="Search using Date Range as based on Due Date!" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ejs-grid id="Grid" rowHeight="40"
              allowPaging="true" allowResizing="true" allowTextWrap="true" showColumnChooser="true" gridLines="Both"
              allowSorting="true" allowReordering="true" allowGrouping="true"
              toolbar="@(new List<string>() {"Add", "Search", "Edit", "Delete", "ExcelExport" , "CsvExport" , "ColumnChooser"})"
              allowFiltering="true" allowSelection="true" allowExcelExport="true"
              toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="actionBegin">
        <e-grid-searchSettings fields="@(new string[] {"Title", "Description", "Status","Priority",  "DueDate"})" operator="contains" ignoreCase="true"></e-grid-searchSettings>
        <e-data-manager url="@Url.Action("GetTaskList", "Home")" insertUrl="@Url.Action("DialogInsert", "Home")" updateUrl="@Url.Action("DialogUpdate", "Home")" removeUrl="@Url.Action("DeleteUrl", "Home")" adaptor="UrlAdaptor"></e-data-manager>
        <e-grid-pagesettings pageSize="12" pageSizes="true" pageCount="4" />
        <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
        <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
        <e-grid-columns>
            <e-grid-column type="checkbox" width="45"></e-grid-column>
            <e-grid-column field="Id" visible="false" headerText="Code" isPrimaryKey="true"></e-grid-column>
            <e-grid-column field="Title" headerText="Title"></e-grid-column>
            <e-grid-column field="Description" headerText="Description"></e-grid-column>
            <e-grid-column field="Status" headerText="Status" foreignKeyField="StatusId" foreignKeyValue="Status" dataSource="@ViewBag.Status"></e-grid-column>
            <e-grid-column field="Priority" headerText="Priority" foreignKeyField="PriorityId" foreignKeyValue="Priority" dataSource="@ViewBag.Priority"></e-grid-column>
            <e-grid-column field="DueDate" headerText="Due Date" visible="true" format='dd-MMM-yyyy'></e-grid-column>
            <e-grid-column field="CreationTimestamp" visible="true" headerText="Creation Time Stamp" customFormat="@(new { type ="date", format="dd/MMM/yyyy HH:MM:ss" })" type="date" format='yMd'></e-grid-column>
            <e-grid-column field="LastUpdatedTimestamp" visible="true" headerText="Last Updated Time Stamp" customFormat="@(new { type ="date", format="dd/MMM/yyyy HH:MM:ss" })" type="date" format='yMd'></e-grid-column>
        </e-grid-columns>
    </ejs-grid>

    <script id='dialogtemplate' type="text/x-template">
        <div id="dialogTemp">
        </div>
    </script>

    <script>
        function toolbarClick(args) {
            if (args.item.id == this.element.id + '_csvexport') {
                this.csvExport();
            }
            if (args.item.id == this.element.id + '_excelexport') {
                this.excelExport();
            }

        }

        function actionBegin(args) {
            var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0]
            if (args.requestType == 'delete') {
                grid.dataSource.dataSource.headers = [];
                grid.dataSource.dataSource.headers.push({ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val(), "additional_key": args.data[0].Id });
            }

            if (args.requestType == "delete") {
                var deleteMessage = "\nRemove Task Record Alert !!! \n\nPlease confirm you would wish to Remove this record for Task details with details below:  \n\n Due Date:  " + formatdate(args.data[0].DueDate) + " , \n\n  Title:  " + args.data[0].Title + ", \n\nand  for Description.:  " + args.data[0].Description + " ."
                if (confirm(deleteMessage)) {
                    grid.refresh();
                }
                else
                    args.cancel = true // if no the record wont delete
            }

            if (args.requestType == "save") {
               var _title = document.getElementById("Title").ej2_instances[0];
               var title = "Missing Title Information Alert !!";
               var NoAlert = "Please provide the Title before proceeding";
               var DFlightTypeIdAlert = "Please provide the Title before proceeding";
               var titleI = "Invalid field information Alert";
               var target = "";
               var appendTo = "#aclassDialog"

               if (_title.value == null || _title.value == "" || _title.value == "undefined" || _title.value == "null") {
                   popupMessage(NoAlert, title, target, appendTo)
                   args.cancel = true;
               }
            }
        }

        function onEdit(args) {
            if (args.requestType == 'beginEdit' || args.requestType == 'add') {
                window.requestType = args.requestType;
                let spinner = ej.popups.createSpinner({ target: args.dialog.element });
                //#####
                var data = args.rowData;

                window.args = args.requestType;

                // For custom save button
                args.dialog.btnObj[0].destroy();
                args.dialog.btnObj[0].element.id = "save";

                var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Save Task',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-success',
                }); progressSaveButton.appendTo('#save');

                // For custom cancel button
                args.dialog.btnObj[1].destroy();
                args.dialog.btnObj[1].element.id = "cancel";

                var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Cancel Task',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-danger',

                });
                progressCancelButton.appendTo('#cancel');

                //// saving the edit action
                var savebtn = document.getElementById('savebtn');
                if (savebtn == undefined) {
                    //$($("#save").hide()).after('<button id="savebtn" type="button" onclick="savess();" class="btn btn-success btn-sm" > Save Tasks</button>');
                }

                // Cancelling the edit action
                document.getElementById('cancel').addEventListener('click', function (args) {
                    onclick = cancelss();

                }.bind(this));

                //#####

                if (args.requestType == 'beginEdit') {
                    var grd = this;
                    window.primaryKey = args.rowData.ComplainantCode;
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "Home")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
                if (args.requestType == 'add') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "Home")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
            }
            else if (args.requestType == "save") {
                var grid = document.getElementById("Grid").ej2_instances[0];
                grid.refresh(); // refresh the Grid.
            }
            if (args.requestType == "save") {
                var grid = document.getElementById("Grid").ej2_instances[0];
                grid.refresh(); // refresh the Grid.
            }
             if (args.requestType == "delete") {
                var grid = document.getElementById("Grid").ej2_instances[0];
                grid.refresh(); // refresh the Grid.
            }
        }

        function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
        }

    </script>

    <style>
        .control-section {
            padding-left: 10px;
        }

        #target {
            height: 100%;
            min-height: 350px;
        }

        span.close-icon {
            width: 24px;
            height: 24px;
            position: relative;
            display: inline-block;
        }

        span.error-msg {
            color: #66afe9;
            display: inline-block;
            position: relative;
        }

        .error-detail.col-lg-8 {
            position: relative;
            left: 45px;
            margin: 20px 0px 21px;
        }

        .e-icons.close-icon.col-lg-2:before {
            content: '\e7e9';
            font-size: 26px;
            color: #d9534f;
            position: relative;
            left: -12px;
        }

        .e-dialog .e-footer-content {
            background-color: #f8f8f8;
        }

        .e-dialog.e-control.e-popup, .e-dialog.e-control.e-popup .e-dlg-header-content {
            background-color: #d9edf7;
        }

        .e-dialog.e-control.e-popup {
            padding: 3px;
        }

        .e-dialog.e-control .e-dlg-header-content {
            padding: 10px;
        }

        .e-dialog.e-control .e-footer-content {
            padding: 8px 12px;
        }

        .e-dialog.e-control .e-dlg-content {
            padding: 15px 0px 0px;
        }
    </style>

    <style>
        #Grid_dialogEdit_wrapper {
            min-height: 40%;
            min-width: 60%;
        }
    </style>

    <script>

        function formatdate(value) {
            var d = new Date(value);
            var day = d.getDate();
            var month = d.getMonth() + 1;
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }
            var year = d.getFullYear();
            return day + '/' + month + '/' + year;
        }

        function formatTime(value) {
            var _time = value.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
            //console.log(_time);
            return _time;
        }
    </script>

    <script>
        var div = document.getElementsByClassName('progress-text-align');
        var progressLoad = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
            if (args.progressBar.theme === 'HighContrast') {
                for (let i = 0; i < div.length; i++) {
                    div[i].setAttribute('style', 'color:white');
                }
            }
        };
    </script>

    <div class="form-row">
        <div class="form-group col-md-3">
        </div>

        <div class="form-group col-md-7">
            <div class="form-row" id="UploadProgress" hidden>
                <div class="form-group col-md-1">
                    <div id="rounded-container">
                        <ejs-progressbar id="rounded-container"
                                         type='Circular'
                                         value=20
                                         width='70px'
                                         height='70px'
                                         minimum="0"
                                         maximum="100"
                                         isIndeterminate=true
                                         cornerRadius='Round'
                                         load="progressLoad">
                            <e-progressbar-animation enable=true duration=2000 delay=0></e-progressbar-animation>
                        </ejs-progressbar>
                    </div>
                </div>
                <div class="form-group col-md-9">
                    <div class="progress-text-align" style="padding-top:10px; font:bolder; font-size:xx-large">Saving a Task, please wait.....''</div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .e-upload-actions {
            visibility: hidden;
        }

        .control_wrapper {
            max-width: 99%;
            margin: auto;
        }

        .e-upload {
            width: 100%;
            position: relative;
            margin-top: 15px;
        }

        .control_wrapper .e-upload .e-upload-drag-hover {
            margin: 0;
        }
    </style>
    <script>

        function cancelss() {
            var gridObj = document.getElementById("Grid").ej2_instances[0];
            gridObj.cancelEdit;
            gridObj.refresh; // refresh the Grid.
        }

    </script>


    <style>
        .e-tab-section .e-tab .e-content.e-control {
            overflow-x: hidden;
            overflow-y: auto;
        }

        .e-content .e-item {
            font-size: 10px;
            margin: 10px;
        }

        #amount {
            text-align: right;
            font-size: 10px;
            padding: 15px 0px;
        }

        #passenger-table th {
            text-align: center;
            font-size: 10px;
            font-weight: 400;
            border: 1px solid gainsboro;
        }

        #passenger-table td,
        th {
            padding: 10px;
        }

        #passenger-table td {
            border: 1px solid gainsboro;
        }

        .name-header {
            width: 200px;
        }

        .age-header {
            width: 80px;
        }

        .gender-header {
            width: 120px;
        }

        .type-header {
            width: 150px;
        }

        .btn-container {
            text-align: center;
        }

        .search-item {
            padding-right: 50px;
            padding-bottom: 20px;
        }

        .item-title {
            font-weight: 500;
            padding-top: 10px;
        }

        .responsive-align {
            width: 75%;
            margin: 0 auto;
        }

        .search-item {
            padding: 0 0 20px 0;
            width: 100%;
        }


        #err1,
        #err2,
        #err3 {
            font-weight: bold;
            color: red;
            display: block;
            margin-top: 15px;
        }

        .wizard-title {
            font-size: 15px;
        }

        .e-tab-section {
            padding: 0 15px;
        }

        .LongTerm {
            background-color: yellow;
            color: black;
            font-size: larger;
            /*font-weight:700;*/
            animation: mymove 5s infinite;
        }

        .ShortTerm {
            background-color: red;
            color: whitesmoke;
            font-size: larger;
            /*font-weight: 700;*/
            animation: mymove 5s infinite;
        }
    </style>

    <script>
        function SearchRecords(args) {
            var xStartDate = document.getElementById("StartDate").ej2_instances[0];
            var xEndDate = document.getElementById("Enddate").ej2_instances[0];
            var grid = document.getElementById("Grid").ej2_instances[0];

            grid.dataSource = new ej.data.DataManager({
                url: "@Url.Action("GetTaskSearch", "Home")?start_date=" + formatdate(xStartDate.value) + "&end_date=" + formatdate(xEndDate.value), adaptor: new ej.data.UrlAdaptor()
            });

        }
    </script>

    <style>
        body {
            touch-action: none;
        }

        .e-success {
            background-color: #22b24b !important;
            color: white !important;
            font: 900 !important;
        }

        .e-danger {
            background-color: #d64113 !important;
            color: white !important;
            font: 900 !important;
        }

        .e-infoClass {
            background-color: Highlight !important;
            color: white !important;
            font: 900 !important;
        }
    </style>
    <style>
        .Yes {
            background-color: green;
            color: black;
            font-size: larger;
            /*font-weight:700;*/
            animation: mymove 5s infinite;
        }

        .No {
            background-color: red;
            color: whitesmoke;
            font-size: larger;
            /*font-weight: 700;*/
            animation: mymove 5s infinite;
        }

        .NotApplicable {
            background-color: yellow;
            color: whitesmoke;
            font-size: larger;
            /*font-weight: 700;*/
            animation: mymove 5s infinite;
        }
    </style>
</div>

@*Missing/duplicate field popup*@
<script type="text/javascript">
    function popupMessage(errorMsg, title, target, appendTo) {
        // Render the alert Dialog
        var headerimg = '<span class="e-icons e-settings"></span>';
        var alertDialogObj = new ej.popups.Dialog({
            header: headerimg + " " + title,
            content: errorMsg,
            showCloseIcon: false,
            isModal: true,
            buttons: [{
                click: alertDlgBtnClick, buttonModel: { content: 'OK', isPrimary: true }
            }],
            closeOnEscape: false,
            target: document.getElementById(target),
            width: '550px',
            cssClass: 'e-dialog2',
            visible: false,
            animationSettings: { effect: 'FlipXDown' },
        });
        alertDialogObj.appendTo(appendTo);
        alertDialogObj.show();
        function alertDlgBtnClick() {
            alertDialogObj.hide();
            alertDialogObj.destroy();
        }
    }

</script>
